<div class="container-banner" >
	<div class="container">
		<div class="jumbotron" style="margin-top: 200px; position:absolute; z-index:9999; opacity: 0.7; margin-right:100px">
			<h1 style="text-align:center">Travel You Heart</h1>
			<%= render 'form' %>
		</div>
	</div>
</div>





